*{
    font-family:'Roboto Slab';
}
img {
width: 500px;
}
body {
    text-align:center;
    font-size: 20px;
    background-color:rgb(3, 3, 69);
    color:white;
    padding: 0;
    margin: 0;
    line-height: 0.8;
}
.sentence-move {
    display: block;
    margin-left: 50px;
}